<p>Hi <%= @runner.first_name %>,</p>

<%= @message %>
<br>
<% if @runner.group_run %>
  <%= @group_run_message %>
  <% if ((@runner.status == "never_run") || (@runner.status == "lapsed")) %>
    Will we see you on a run soon?
  <% end %>
<% end %>


<% if @runner.mission %>
  <p>Have you signed up for a mission?</p>
<% elsif (@runner.coach_run && ((@runner.status == "never_run") || (@runner.status == "lapsed")))  %>
  <p>We'll have you running to a coach soon</p>
<% end %>

<p>Cheers, <%= @user.first_name %></p>
