<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="form-stuff">
         <h3 class = "text-center">Add a runner to <%= current_user.area.name %></h3>
      <% if @runner.errors.any? %>
        <ul>
          <% @runner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render 'form', runner: @runner %>
      </div>
    </div>
  </div>
