<p>Send an email here:</p>

<form>
  <div class="form-group">
    <textarea class="form-control form-style" name="message" placeholder="enter your email text here-running news, events, etc" rows=6></textarea>
    <textarea class="form-control form-style" name="group_run_message" placeholder='tell the group about the last group run- eg. "On our group run this week..."' rows = 6></textarea>
  </div>
  <button type="submit" class="btn btn-success btn-lg" >Submit</button>
</form>


