

.card{
  height: 180px;
  border: 1px solid #E6E6E6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
  margin: 2px;

  .runner-pic{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

.pic{
  width: 100%;
}

.col-xs-12, .col-sm-6, .col-md-4{
   padding-left: 2px !important;
  padding-right: 2px !important;
}

.details{
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.interests{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding-bottom: 20px;
}

.regular{
  background-color: #06D6A0;
}

.lapsed{
  background-color: #FFD166;
}

.never-run{
  background-color: #FF8360;
}
